.gallery-section {}
.gallery {
    &__filter {
        @extend %mb-30;
        ul {
            @extend %flex;
            @extend %justify-center;
            li {
                @extend %c-pointer;
                padding: 10px 20px;
                margin: 5px;
                @extend %text-uppercase;
                @extend %text-bold;
                color: $title-color;
                @include add-prefix(transform, (all .3s ease));
                &.active {
                    color: $theme-color;
                }
            }
        }
    }
    &__item {}
    &__inner {
        @extend %p-rel;
        &::after {
            @extend %pos-center;
            @extend %w-100;
            @extend %h-100;
            left: 0;
            top: 0;
            background: rgba($title-color, $alpha: .7);
            @include add-prefix(transform, (scale(0)));
            @include add-prefix(transition, (all .3s ease));
        }
        &:hover {
            &::after {
                @include add-prefix(transform, (scale(1)));
            }
            .gallery__content {
                @include add-prefix(transform, translate(-50%, -50%) (scale(1)));
            }
        }
    }
    &__thumb {}
    &__content {
        @extend %pos-center;
        @extend %w-100;
        z-index: 1;
        @include add-prefix(transition, (all .3s ease));
        @include add-prefix(transform, (translate(-50%, -50%) scale(0)));
        h5 {
            @include font-size(20px);
            @extend %text-capitalize;
            @extend %text-bold;
            @include add-prefix(transition, (all .3s ease));
            color: $white-color;
            &:hover {
                color: $theme-color;
            }
        }
    }
    &__icon {
        width: 36px;
        height: 36px;
        line-height: 36px;
        border: 1px solid $border-color;
        margin: 0 auto 15px;
        @include add-prefix(border-radius, (100%));
        @extend %text-center;
        @include font-size(16px);
        @include add-prefix(transition, (all .3s ease));
        @extend %d-inline-block;
        i, svg {
            color: $white-color;
        }
        &:hover {
            background: $theme-color;
            border-color: $theme-color;
        }
    }
    &__title {
        background: $white-color;
        @extend %py-15;
        @extend %text-center;
        @extend %z-index;
    }
    &-style2 {
        .gallery {
            &__item {
                &:hover {
                    .gallery__title {
                        h5 {
                            color: $theme-color3;
                        }
                    }
                }
            }
            &__content {}
            &__title {
                h5 {
                    @extend %mb-0;
                    @include font-size(15px);
                    @extend %text-uppercase;
                }
                span {
                    @extend %d-inline-block;
                    @include font-size(14px);
                }
            }
            &__icon {
                @extend %mb-0;
            }
        }
    }
}